@use "sass:math";
@use "@/style/base/typo";

@mixin default($height: 3rem) {
  @include typo.bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $height;
  padding-right: math.div($height, 1.5);
  padding-left: math.div($height, 1.5);
  color: rgb(var(--c-white));
  font-size: math.div($height, 3);
  background: rgb(var(--c-black));
  border: none;
  border-radius: math.div($height, 12);
  cursor: pointer;
  transition: background 250ms, border-radius 100ms;
  &:not(:disabled) {
    &:hover {
      background: rgba(var(--c-black), 0.9);
      //background: rgb(var(--c-cta));
      border-radius: $height * 0.5;
      transition: background 100ms, border-radius 100ms;
    }
  }
}

@mixin circle($size: 3rem) {
  background: orangered;
}
