@mixin default {
  width: 100%;
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.5rem;
}

@mixin medium {
  width: 100%;
  max-width: calc(var(--container-width) * 0.75);
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

@mixin small {
  width: 100%;
  max-width: calc(var(--container-width) * 0.5);
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

@mixin section {
  &.section--dark {
    color: rgb(var(--c-white));
    background: rgb(var(--c-gray-900));
  }
}

