@charset "UTF-8";

pre {
  &.debug {
    padding: 0.5rem;
    overflow: auto;
    color: white;
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1rem;
    background: #222;
  }
  &._debug {
    display: none;
  }
}
