@use "@/style/base/typo";
@use "@/style/base/responsive";
@use "@/style/elements/button";

@mixin input {
  @include typo.bold;

  border: 3px solid rgb(var(--c-dark) / 100%);
  border-radius: 3px;
  transition: border 200ms, background 200ms;

  &:focus,
  &:focus-visible {
    color: rgb(var(--c-dark) / 100%);
    background: rgb(var(--c-dark) / 10%);
    border-color: rgb(var(--c-dark) / 10%);
    outline: none;
  }
}

@mixin checkbox {
  appearance: none;
  display: grid;
  place-content: center;
  background-color: rgb(var(--c-light));
  margin: 0;
  font: inherit;
  color: currentcolor;
  border: 3px solid rgb(var(--c-dark) / 100%);
  border-radius: 3px;

  &::before {
    content: "";
    height: 1rem;
    width: 1rem;
    transform: scale(0);
    transition: 60ms transform ease-in-out;
    background: rgb(var(--c-dark));
    border-radius: 1px;
  }

  &:checked::before {
    transform: scale(1);
  }
}

@mixin top-label {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    align-items: center;
    height: 3rem;
    color: inherit;
  }

  .help {
    display: flex;
    align-items: center;
    height: 3rem;
    color: inherit;

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include responsive.bp-medium {
    label {
      @include typo.small;

      height: 2rem;
    }
  }
}

@mixin float-label {
  position: relative;

  label {
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 10ms, transform 100ms;
    pointer-events: none;
  }

  input,
  .input {
    min-height: 3rem;
    padding: 0.5rem;

    &:not(:placeholder-shown) {
      padding: 0.85rem 0.5rem 0.15rem;
      transition: padding 100ms ease;
    }
  }

  /*
  input:not(:placeholder-shown) {
    padding: 28px 0 12px 0;
  }
  */

  input:not(:placeholder-shown) + label {
    top: 14px;
    bottom: unset;
    color: rgb(var(--c-dark) / 50%);
    font-size: 75%;
    opacity: 1;
    transition: opacity 100ms, transform 100ms;
  }
}

@mixin default {
  display: flex;
  flex-direction: column;

  .button {
    @include button.default;

    display: flex;
    width: 100%;
  }

  .input-container {
    display: flex;
    align-content: center;
    width: 100%;
    padding: 0.5rem 0;

    &.submit {
      padding-top: 2rem;

      .button {
        max-width: 33%;

        @include responsive.bp-medium {
          max-width: unset;
        }
      }
    }
  }

  .input {
    @include input;

    display: flex;
    align-content: center;
    width: 100%;
    padding: 0.5rem;

    &[type=checkbox] {
      @include checkbox;
    }
  }

  .form-messages,
  .form-errors {
    margin: 0 0 1rem;
  }
}
