@mixin default {
  margin: 2rem 0 2rem;
  .menu {
    > a {
      margin-right: 1rem;
      padding: 0.75rem;
      &.router-link-exact-active {
        border-bottom: 3px solid rgb(var(--c-live-fg));
      }
    }
  }
}