@use "@/style/abstracts/responsive";

@mixin default {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  .menu {
    > a {
      display: inline-block;
      margin-right: 1.5rem;
      padding: 0 0 0.5rem;
      color: rgb(var(--c-page-fg));
      &:after {
        content: " ";
        font-size: 0;
      }
      &:first-letter {
        text-transform: uppercase;
      }
      &.router-link-exact-active {
        border-bottom: 3px solid rgb(var(--c-page-fg));
      }
    }
    &--primary {
      flex-grow: 1;
      min-height: 2rem;
      margin-top: 1rem;
    }
  }
  @include responsive.bp-small {
    flex-direction: column;
    .menu {
      overflow-x: scroll;
      &--primary {
        display: flex;
        flex-direction: row;
      }
    }
  }
}