@charset "UTF-8";
@use "../base/responsive";

@mixin default {
  /*
  rendered markdown - basic styling
  */
  p,
  ul,
  ol,
  pre {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  ul,
  ol {
    list-style-position: outside;
    margin-left: 1.25rem;
  }

  a {
    text-decoration: underline;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  pre {
    color: white;
    background: #333;
    padding: 0.5rem;
    user-select: text;

    code {
      font-size: 86%;
    }
  }
}
