@mixin default {
  display: flex;
  .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 1rem;
    }
    &:not(&--text) {
      padding: 0 1rem;
      background: rgb(var(--c-white));
      border: 1px solid rgb(var(--c-black));
      &:hover,
      &.is-selected {
        background: rgb(var(--c-selected));
      }
    }
    &--text {
      padding: 0 1rem;
      text-decoration: underline;
      background: transparent;
      &:hover {
        background: rgb(var(--c-selected));
      }
      //align-items: flex-end;
    }
  }
}