{% extends 'admin/base.html' %}

{% block extrahead %}{{ block.super }}
<style>
:root {
  /**/
  /**/
  --primary: #1a73e8;
  --secondary: #1869d5;
  /*
  --primary: #333333;
  --secondary: #111111;
  */
  /*
  --primary: #aa06fa;
  --secondary: #9c05e7;
  */
  --accent: #ffffff;
  --primary-fg: #fff;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #fff;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: var(--primary);
  --link-hover-color: var(--secondary);
  --link-selected-fg: var(--secondary);

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #d5026c;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: var(--secondary);
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #555555;
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: #d5026c;
  --delete-button-hover-bg: #f00078;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body input[type="text"],
body textarea {
    font-family: ui-monospace,
                 Menlo, Monaco,
                 "Cascadia Mono", "Segoe UI Mono",
                 "Roboto Mono",
                 "Oxygen Mono",
                 "Ubuntu Monospace",
                 "Source Code Pro",
                 "Fira Mono",
                 "Droid Sans Mono",
                 "Courier New", monospace;
}
</style>
{% endblock %}