@charset "UTF-8";

$pb-small: 400px;
$pb-medium: 720px;
$pb-large: 1024px;
$pb-max: 1400px;

@mixin bp-small {
  @media (max-width: #{$pb-small}) {
    @content;
  }
}

@mixin bp-medium {
  @media (max-width: #{$pb-medium}) {
    @content;
  }
}

@mixin bp-medium-up {
  @media (min-width: #{$pb-medium}) {
    @content;
  }
}

@mixin bp-large {
  @media (max-width: #{$pb-large}) {
    @content;
  }
}

@mixin bp-large-up {
  @media (min-width: #{$pb-large}) {
    @content;
  }
}

@mixin hover-supported {
  @media not all and (pointer: coarse) {
    @content;
  }
}

@mixin tap-supported {
  @media not all and (pointer: fine) {
    @content;
  }
}

@mixin on-hover {
  @include hover-supported {
    &:hover {
      @content;
    }
  }
}

@mixin on-tap {
  @include tap-supported {
    &:active {
      @content;
    }
  }
}
