@charset "UTF-8";
@use "../base/responsive";

body {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;

  // -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;

  &[data-client-mode="app"] {
    font-feature-settings: "kern" 1;
    font-kerning: normal;
  }
}

@mixin copy {
  color: red;
}

@mixin x-large {
  font-size: var(--t-fs-x-large);
}

@mixin large {
  font-size: var(--t-fs-large);
}

@mixin default {
  font-size: var(--t-fs-default);
}

@mixin small {
  font-size: var(--t-fs-small);
}

@mixin tiny {
  font-size: var(--t-fs-tiny);
}

@mixin bold {
  font-weight: 600;
}

@mixin light {
  font-weight: 400;
}

@mixin extra-light {
  font-weight: 300;
}

@mixin dim($r: 0.33) {
  opacity: 1 * $r;
}

@mixin underlined {
  text-decoration: underline;
}

@mixin uppercase {
  text-transform: uppercase;
}
