DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.env
#DATABASE_URL=sqlite:///./data/db/db.sqlite3
DATABASE_URL=psql://obr:obr@127.0.0.1:5434/obr
SYNC_DATABASE_URL=sqlite:///./data/db/db.sqlite3
EMAIL_URL=smtp://localhost:1025
# platform sync API
OBP_SYNC_ENDPOINT=https://www.openbroadcast.org/api/v2/obr-sync/
OBP_SYNC_TOKEN=***
# (to be declared) legacy radio API
OBR_SYNC_ENDPOINT=https://www.openbroadcast.ch/api/v2/obr-sync/
OBR_SYNC_TOKEN=***
IMAGE_RESIZER_ENDPOINT=/images/
GOOGLE_APPLICATION_CREDENTIALS=***
STRIPE_PUBLISHABLE_KEY=***
STRIPE_SECRET_KEY=***
COMPOSE_PROJECT_NAME=obr