@charset "UTF-8";

$x: rgb(224, 248, 255);

$color-palette: (
  black: (0, 0, 0),
  white: (255, 255, 255),

  primary: (10, 135, 201),
  secondary: (255, 0, 255),

  red: (200, 10, 10),

  //cta: (10, 170, 200),
  //cta-active: (7, 198, 234),
  //cta-100: (224, 248, 255),

  cta: (10, 10, 10),
  cta-active: (20, 20, 20),
  cta-100: (200, 200, 200),

  selected: (0, 240, 160),

  info: (0, 160, 240),
  success: (0, 240, 160),
  warning: (240, 80, 80),
  error: (240, 20, 20),

  gray-25: (250, 250, 250),
  gray-50: (240, 240, 240),
  gray-100: (230, 230, 230),
  gray-200: (200, 200, 200),
  gray-400: (180, 180, 180),
  gray-500: (130, 130, 130),
  gray-600: (100, 100, 100),
  gray-800: (60, 60, 60),
  gray-900: (30, 30, 30),

  //initial values - controlled via js later on
  page-fg: (0, 0, 0),
  page-bg: (255, 255, 255),
  page-fg-inverse: (255, 255, 255),
);

$color-palette-dark: (
  //black: (255, 255, 255),
  //white: (20, 20, 20),
);

$page-color-light: (
  page-fg: (0, 0, 0),
  page-bg: (255, 255, 255),
  page-fg-inverse: (255, 255, 255),
);

$page-color-dark: (
  page-fg: (0, 0, 0),
  page-bg: (102, 102, 102),
  page-fg-inverse: (255, 255, 255),
);
