@charset "UTF-8";

$x: rgb(224, 248, 255);

$color-palette: (
  black: (20, 20, 20),
  white: (255, 255, 255),
  red: (240, 20, 20),
  green: (20, 240, 20),
  blue: (10, 135, 201),
  yellow: (253, 238, 127),

  primary: (10, 135, 201),
  secondary: (255, 0, 255),

  //cta: (10, 170, 200),
  //cta-active: (7, 198, 234),
  //cta-100: (224, 248, 255),

  cta: (225, 87, 114),
  cta-active: (227, 60, 90),
  cta-100: (250, 205, 215),

  gray-25: (250, 250, 250),
  gray-50: (240, 240, 240),
  gray-100: (230, 230, 230),
  gray-200: (200, 200, 200),
  gray-400: (180, 180, 180),
  gray-500: (130, 130, 130),
  gray-600: (100, 100, 100),
  gray-800: (60, 60, 60),

  //initial values - controlled via js
  live-fg: (200, 200, 200),
  live-bg: (40, 80, 200),
);
