@charset "UTF-8";

@import "colors";
@import "responsive";

:root {
  --grid-gap: 1rem;
  --font-weight: 500;
  --font-size: 1rem;
  --font-family: 'IBM Plex Sans', 'Helvetica Neue','Helvetica','Robotox','Roboto','Source Sans Pro', sans-serif;
  --container-width: 1800px;
  --image-filter: brightness(0.95) grayscale(0.1);
  //
  --bp-small: 320px;
  --bp-medium: 720px;
  --bp-large: 1024px;
  --bp-max: 1400px;
}

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  @each $name, $color in $color-palette {
    --c-#{"" + $name}: #{$color};
  }
}

[data-page-color="live"] {
  --c-page-bg: var(--c-live-bg);
  --c-page-fg: var(--c-live-fg);
  --c-page-fg-inverse: var(--c-live-fg-inverse);
}

[data-page-color="light"] {
  @each $name, $color in $page-color-light {
    --c-#{"" + $name}: #{$color};
  }
}

[data-page-color="dark"] {
  @each $name, $color in $page-color-dark {
    --c-#{"" + $name}: #{$color};
  }
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    @each $name, $color in $color-palette-dark {
//      --c-#{"" + $name}: #{$color};
//    }
//  }
//}

// NOTE: just for testing the switch. logic needs to be reworked.
[data-theme="dark"] {
  @each $name, $color in $color-palette-dark {
    --c-#{"" + $name}: #{$color};
  }
  &[data-page-color="light"] {
    --c-white: 30, 30, 30;
    --c-black: 255, 255, 255;
    --c-page-bg: 30, 30, 30;
    --c-page-fg: 255, 255, 255;
    --c-fg: 255, 255, 255;
  }
  &[data-page-color="dark"] {
    --c-white: 30, 30, 30;
    --c-black: 255, 255, 255;
    --c-page-bg: 50, 50, 50;
    --c-page-fg: 255, 255, 255;
    --c-fg: 255, 255, 255;
  }
}

@include bp-medium {
  :root {
    --font-size: 1.125rem;
  }
}

@include bp-medium-up {
  :root {
    --grid-gap: 1.5rem;
  }
}

@include bp-large-up {
  :root {
    --grid-gap: 2rem;
  }
}


/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --t-fs-x-large: 4rem;
  --t-lh-x-large: 4rem;
  --t-fs-large: 2rem;
  --t-lh-large: 2rem;
  --t-fs-default: 1rem;
  --t-lh-default: 1rem;
  --t-fs-small: 0.75rem;
  --t-lh-small: 0.75rem;
  --t-fs-tiny: 0.625rem;
  --t-lh-tiny: 0.625rem;
  @include bp-medium {
    --t-fs-x-large: 2.5rem;
    --t-lh-x-large: 2.5rem;
    --t-fs-large: 1.125rem;
    --t-lh-large: 1.125rem;
    --t-fs-default: 1rem;
    --t-lh-default: 1rem;
    --t-fs-small: 0.75rem;
    --t-lh-small: 0.75rem;
    --t-fs-tiny: 0.625rem;
    --t-lh-tiny: 0.625rem;
  }
}

// NOTE: just for testing modes. logic needs to be reworked.
[data-client-mode="app"] {
  --font-size: 16px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}


/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --c-fg: var(--c-black);
  --c-bg: var(--c-white);
}