@charset "UTF-8";

@import "variables";
@import "colors";
@import "responsive";

:root {
  --grid-gap: 1rem;
  --font-weight: #{$base-font-weight};
  --font-size: #{$base-font-size};
  --font-family: #{$base-font-family};
  --container-width: #{$container-width};
  --image-filter: brightness(0.95) grayscale(0.1);
}

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  @each $name, $color in $color-palette {
    --c-#{"" + $name}: #{$color};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $color-palette-dark {
      --c-#{"" + $name}: #{$color};
    }
  }
}

[data-page-color="live"] {
  --c-page-bg: var(--c-live-bg);
  --c-page-fg: var(--c-live-fg);
  --c-page-fg-inverse: var(--c-live-fg-inverse);
}

[data-page-color="light"] {
  //--c-page-bg: var(--c-white) !important;
  @each $name, $color in $page-color-light {
    --c-#{"" + $name}: #{$color};
  }
}

[data-page-color="dark"] {
  //--c-page-bg: var(--c-black) !important;
  @each $name, $color in $page-color-dark {
    --c-#{"" + $name}: #{$color};
  }
}

@include bp-small {
  :root {
    --font-size: #{$base-font-size * 1.25};
  }
}

@include bp-medium-up {
  :root {
    --grid-gap: 1.5rem;
  }
}

@include bp-large-up {
  :root {
    --grid-gap: 2rem;
  }
}
