//styling for @/src/directives/tooltip.ts

.has-tooltip {
  position: relative;
  &:before {
    position: absolute;
    top: calc(100% + 4px);
    z-index: 101;
    display: none;
    padding: 0.3rem 0.5rem;
    color: rgb(var(--c-white));
    white-space: nowrap;
    background: rgb(var(--c-black));
    content: var(--tooltip-text);
  }
  &:hover {
    &:before {
      display: block;
    }
  }
}
