// styling for @/src/directives/tooltip.ts

.has-tooltip {
  position: relative;

  &::before {
    top: calc(100% + 4px);
    position: absolute;
    display: none;
    z-index: 101;
    padding: 0.3rem 0.5rem;
    color: rgb(var(--c-light) / 100%);
    white-space: nowrap;
    background: rgb(var(--c-dark) / 100%);
    content: var(--tooltip-text);
  }

  &:hover {
    &::before {
      display: block;
    }
  }
}
