@charset "UTF-8";

$color-palette: (

  // white / black: not depending on user theme
  // used e.g. for shadows, masks etc.
  white: 255 255 255,
  black: 0 0 0,

  gray-500: 120 120 120,
  red: 255 0 0,
  green: 0 144 80,

  cta: 10 10 10,
  cta-active: 20 20 20,

  selected: 0 240 160,

  info: 0 160 240,
  success: 0 200 160,
  warning: 240 80 80,
  error: 240 20 20,

  // initial values - controlled via js later on
  page-fg: 0 0 0,
  page-bg: 255 255 255,
  page-fg-inverse: 255 255 255,
);

// color themes (changeable by user)
$color-palette-light: (
  dark: 0 0 0,
  light: 255 255 255,
  page-fg-inverse: 255 255 255,
);
$color-palette-dark: (
  dark: 255 255 255,
  light: 20 20 20,
  page-fg-inverse: 20 20 20,
);

// page themes (e.g. listings: light - detail: dark)
// TODO: change to `page-theme-light|dark`
$page-theme-light: (
  page-fg: 0 0 0,
  page-bg: 255 255 255,
  page-fg-inverse: 255 255 255,
);
$page-theme-dark: (
  page-fg: 0 0 0,
  page-bg: 102 102 102,
  page-fg-inverse: 255 255 255,
);
