@font-face {
  font-family: 'plex';
  src: local('plex'), url(@/assets/font/IBMPlexSans-Light.woff) format('woff');
  font-weight: 200;
  font-style: normal;

}
@font-face {
  font-family: 'plex';
  src: local('plex'), url(@/assets/font/IBMPlexSans-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;

}
@font-face {
  font-family: 'plex';
  src: local('plex'), url(@/assets/font/IBMPlexSans-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;

}
@font-face {
  font-family: 'plex';
  src: local('plex'), url(@/assets/font/IBMPlexSans-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}