@mixin transition {
  transition: background-color 600ms, color 100ms 10ms;
}

@mixin transition-inverse {
  transition: color 1000ms, background-color 100ms 10ms;
}

@mixin fg($alpha: 1) {
  @include transition;

  color: rgb(var(--c-page-fg) $alpha);
}

@mixin fg-inverse($alpha: 1) {
  @include transition-inverse;

  color: rgb(var(--c-page-fg-inverse) $alpha);
}

@mixin bg($alpha: 1) {
  @include transition;

  background-color: rgb(var(--c-page-bg) $alpha);
}

@mixin bg-inverse($alpha: 1, $transition: true) {
  background-color: rgb(var(--c-page-fg) $alpha);

  @if $transition {
    @include transition-inverse;
  }
}
