@charset "UTF-8";

body {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-feature-settings: 'kern' 1;
  font-kerning: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;  //NOTE: disabled in CB version
}

@mixin copy {
  color: red;
}

@mixin dim($r: 0.5) {
  opacity: 1 * $r;
}

@mixin light($w: 300) {
  font-weight: $w;
}

@mixin x-large {
  font-size: 4rem;
}

@mixin large {
  font-size: 2rem;
}

@mixin default {
  font-size: 1rem;
}

@mixin small {
  font-size: 0.75rem;
}

@mixin tiny {
  font-size: 0.65rem;
}

@mixin bold {
  font-weight: 600;
}

@mixin underlined {
  text-decoration: underline;
}

@mixin uppercase {
  text-transform: uppercase;
}