@charset "UTF-8";

body {
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  font-feature-settings: 'kern' 1;
  font-kerning: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;  //NOTE: disabled in CB version
}

@mixin copy {
  color: red;
}

@mixin dim($r: 0.5) {
  opacity: 1 * $r;
}

@mixin large {
  font-size: 120%;
}

@mixin small {
  font-size: 80%;
}