{% extends 'unfold/layouts/base_simple.html' %}

{% load cache i18n %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% block content %}
    <div>
      <iframe
        id="kibana-dashboard"
        src="https://openbroadcast.ch/kibana/s/obr/app/dashboards#/view/cfa56cc9-4e62-4923-b09a-6968787f8200?embed=true&_g=()&show-time-filter=true"
        style="border: none; top: 0; left: 0; width: 100%; height: 100%;"
      ></iframe>
    </div>
{% endblock %}

{% block extrastyle %}{% endblock %}

{% block extrahead %}
  <script>

    function resizeIframe() {
      const iframe = document.getElementById('kibana-dashboard');
      iframe.style.height = `${window.innerHeight - 100}px`;
    }

    window.onload = () => {
      const body = document.body;
      body.style.background = '#f9fafd';


      const container = document.getElementById('content').parentElement;
      container.style.background = '#f9fafd';

      resizeIframe();
    };

    window.onresize = resizeIframe;
  </script>
{% endblock %}
