{% load i18n static settings_export_tags usersnap_tags %}<!doctype html>
<html class="no-js" lang="{{ LANGUAGE }}">
<head>
  <title>open broadcast radio</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'assets/favicon/default.png' %}">
  <link rel="manifest" href="{% url 'manifest:manifest' %}">
  {% if not vite_proxied %}<link href="{% static 'main.css' %}" rel="preload" as="style">
  <link href="{% static 'main.js' %}" rel="preload" as="script">
  <link href="{% static 'vendor.js' %}" rel="preload" as="script">
  <link href="{% static 'main.css' %}" rel="stylesheet">{% endif %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&display=swap');
  </style>
  <script>
    document.settings = {% json_settings settings %};
    document.settings.API_BASE_URL = "{% url 'api:base' %}";
    {% if color %}document.settings.COLOR = {{ color }}{% endif %}
  </script>
  {% if settings.GOOGLE_GTM_ID %}<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ settings.GOOGLE_GTM_ID }}');
  </script>{% else %}<script>
    window.dataLayer = [];
  </script>{% endif %}
</head>
<body
  id="body"
  data-page-color="live"
  {% if color %}style="--c-live-bg: {{ color|join:',' }}"{% endif %}
>
  <div id="app"></div>
  {% spaceless %}
  {% if not vite_proxied %}
  <script type="module" src="{% static 'vendor.js' %}"></script>
  <script type="module" src="{% static 'main.js' %}"></script>
  {% else %}
  <script type="module" src="//localhost:3000/src/main.ts?t={% now 'U' %}"></script>
  {% endif %}
  {% usersnap %}{% endspaceless %}
</body>
<!--
version:     {{ version }}
version sha: {{ version_sha }}
-->
<!--
country:     {{ geolocation_country }}
city:        {{ geolocation_city }}
coordinates: {{ geolocation_coordinates }}
-->
</html>
