{% load i18n static settings_export_tags share_tags usersnap_tags %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>open broadcast radio</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,viewport-fit=cover">
  <meta id="theme-color" name="theme-color" content="rgb({% if color %}{{ color|join:',' }}{% else %}200,200,200{% endif %})">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="icon" type="image/png" href="{% static 'assets/favicon/default.png' %}">
  <link rel="manifest" href="{% url 'manifest:manifest' %}">
  {% if not vite_proxied %}<link href="{% static 'main.css' %}" rel="preload" as="style">
  <link href="{% static 'main.js' %}" rel="modulepreload">
  <link href="{% static 'vendor.js' %}" rel="modulepreload">
  <link href="{% static 'main.css' %}" rel="stylesheet">{% endif %}{% opengraph_meta %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
  </style>
  <script>
    document.settings = {% json_settings settings %};
    {% if color %}document.settings.COLOR = {{ color }}{% endif %}
    {% if client_mode %}document.settings.CLIENT_MODE = "{{ client_mode }}"{% endif %}
  </script>
  <script>
    window.dataLayer = [];
  </script>
  {% if settings.GOOGLE_GTM_ID %}<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ settings.GOOGLE_GTM_ID }}');
  </script>{% endif %}
  {% comment %}{% if settings.GOOGLE_GTM_ID %}<script type="text/plain" data-cookiecategory="analytics">
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ settings.GOOGLE_GTM_ID }}');
  </script>{% endif %}{% endcomment %}
</head>
<body
  id="body"
  {% if client_mode %}data-client-mode="{{ client_mode }}"{% endif %}
  data-theme="dark"
  data-page-theme="live"
  {% if color %}style="--c-live-bg: {{ color|join:' ' }}"{% endif %}
>
  <div id="app"></div>
  {% spaceless %}
  {% if not vite_proxied %}
  <script type="module" src="{% static 'vendor.js' %}"></script>
  <script type="module" src="{% static 'main.js' %}"></script>
  {% else %}
  <script type="module" src="{{ vite_server_url }}/src/main.ts?t={% now 'U' %}"></script>
  {% endif %}
  {% if user.is_authenticated and user.theme and user.theme.css %}<style>
    {{ user.theme.css|safe }}
  </style>{% endif %}
  {% usersnap %}{% endspaceless %}
</body>
<!--
version:     {{ version }}
version sha: {{ version_sha }}
-
country:     {{ geolocation_country }}
city:        {{ geolocation_city }}
coordinates: {{ geolocation_coordinates }}
-->
</html>
