{% load i18n static settings_export_tags %}<!doctype html>
<html class="no-js" lang="{{ LANGUAGE }}">
<head>
  <title>open broadcast radio</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'assets/favicon/default.png' %}">
  <link rel="manifest" href="{% url 'manifest:manifest' %}">
  <link href="{% static 'app.css' %}" rel="preload" as="style">
  <link href="{% static 'app.js' %}" rel="preload" as="script">
  <link href="{% static 'chunk-vendors.js' %}" rel="preload" as="script">
  <link href="{% static 'app.css' %}" rel="stylesheet">
  <script>
    document.settings = {% json_settings settings %};
    document.settings.API_BASE_URL = "{% url 'api:base' %}";
    {% if color %}document.settings.COLOR = {{ color }}{% endif %}
  </script>
</head>
<body
  id="body"
  data-page-color="live"
  {% if color %}style="--c-live-bg: {{ color|join:',' }}"{% endif %}
>
  <div id="app"></div>
  <script src="{% static 'chunk-vendors.js' %}"></script>
  <script src="{% static 'app.js' %}"></script>
</body>
<!-- v:0.0.1 -->
<!--
country:     {{ geolocation_country }}
city:        {{ geolocation_city }}
coordinates: {{ geolocation_coordinates }}
-->
</html>
