{% if api_key %}{% spaceless %}
<script>
  (function () {
    const loadUsersnap = () => {
      const script = document.createElement("script");
      script.src = "https://widget.usersnap.com/global/load/{{ api_key }}?onload=onUsersnapCXInit";
      script.async = true; // their documentation is wrong...
      document.body.appendChild(script);
    };

    window.onUsersnapCXInit = function (api) {
      api.init({
        {% if email %}user: {
          userId: "{{ uid }}",
          email: "{{ email }}"
        },{% endif %}
        useSystemFonts: true,
        enableScreenshot: true
      })
    };

    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", loadUsersnap);
    } else {
      loadUsersnap();
    }
  })();
</script>
{% endspaceless %}{% endif %}
